<% provide(:title, "All textbooks") %>
<h1>Textbooks</h1>

<div class="row">
  <div class="col-md-12">
    <ul>
      <% @textbooks.each do |textbook| %>
        <li>
          <div>
            <div>
              <%= gravatar_for textbook.user, size: 40 %>
              <span><%= link_to textbook.user.name, textbook.user %></span> | <span><%= time_ago_in_words(textbook.created_at) %> ago</span>
            </div>
            <h3><%= textbook.title %></h3>
            <span><%= number_to_currency(textbook.price) %></span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>