<% provide(:title, "All textbooks") %>
<h1>Textbooks</h1>

<div class="row">
  <div class="col-md-10">
    <ul class="listings">
      <% @textbooks.each do |textbook| %>
        <li class="item">
          <div>
            <div class="seller-info">
              <%= avatar_for textbook.user, size: 40 %>
              <span><%= link_to textbook.user.name, textbook.user %></span> | <span><%= time_ago_in_words(textbook.created_at) %> ago</span>
            </div>
            <h3 class="title"><%= link_to textbook.title, textbook %></h3>
            <span class="price pull-right"><%= number_to_currency(textbook.price) %></span>
            <p><%= textbook.description %></p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>