<% provide(:title, @textbook.title) %>
<h1><%= @textbook.title %></h1>


<div class="row">
  <div class="col-md-12">
    <span class="price pull-right"><%= number_to_currency(@textbook.price) %></span>
    <div class="textbook-show-seller">
      <%= avatar_for @textbook.user, size: 50 %><strong><%= @textbook.user.name %> listed <%= time_ago_in_words(@textbook.created_at) %> ago</strong>
    </div>
    <strong>Subject: </strong><%= @textbook.subject_name %><br/>
    <strong>Course Number: </strong><%= @textbook.course_name %><br/>
    

    <strong>Description: </strong>
    <p><%= @textbook.description %></p>

    <hr/>
    

    <% if @textbook.comments.any? %>
      <div class="comments">
        <% @textbook.comments.each do |comment| %>
          <%= avatar_for comment.user, size: 35 %> <span><%= comment.user.name %></span> | 
          <span><%= time_ago_in_words(comment.created_at) %> ago</span>
          <p><%= comment.message %></p>
          <hr/>
        <% end %>
      </div>
    <% end %>


    <% if logged_in? %>
      <h2>Leave a comment</h2>
      <%= form_for(:comment, url: comment_path) do |f| %>
        <%= f.hidden_field :textbook_id, value: @textbook.id %>
        <%= f.text_area :message %>
        <%= f.submit "Submit", class: 'button-primary' %>
      <% end %>
    <% end %>
    
  </div>
</div>