<% provide(:title, @user.name) %>
<div class="row">

  <aside class="col-md-12">
    <section class="user_info">
      <h1>
        <%= avatar_for @user %>
        <%= @user.name %>
        <% if logged_in? && !current_user?(@user) %>
          <%= button_to 'Message Seller', conversations_path(buyer_id: current_user.id, seller_id: @user.id), method: :post %>
        <% end %>
      </h1>
      <% if current_user?(@user) %>
        <%= link_to "Edit Profile", edit_user_path(current_user), class: 'button-primary button-top-right btn' %>
      <% end %>
    </section>
    
  </aside>
  <div class="col-md-12">
    <ul class="listings">
      <% @textbooks.each do |textbook| %>
        <li class="item" id="users_show_item">
          <div>
            <h3 class="title"><%= link_to textbook.title, textbook %></h3>
            <% if current_user?(@user) %>
              <div class="action_icons">
              <% unless textbook.sold? %>
                <%= link_to edit_textbook_path(textbook) do %>
                  <span class="icon-edit2"></span>
                <% end %>
              <% end %>
              <%= link_to textbook_path(textbook), method: :delete, data: { confirm: "Are you sure you want to delete this?" } do %>
                <span class="icon-bin"></span>
              <% end %>
              </div>
            <% end %>
            <%= render 'shared/price_tag', object: textbook %>
            <p><%= textbook.description %></p>
            <% if current_user?(@user) %>
              <%= link_to "Mark as sold", sold_textbook_path(textbook), method: :post, class: 'button-primary btn' unless textbook.sold? %>
            
              <nav class="social_share">
                <span class="icon-facebook2 facebook" onclick="javascript:window.open('http://www.facebook.com/sharer.php?u=<%= textbook_url(textbook) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0)"></span>
                <span class="icon-twitter2 twitter" onclick="javascript:window.open('http://twitter.com/share?text=Anyone needs <%= textbook.title %> textbook?- &amp;url=<%= textbook_url(textbook) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0)"></span>
                <span class="icon-google-plus2 google-plus" onclick="javascript:window.open('http://plus.google.com/share?url=<%= textbook_url(textbook) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0)"></span>
              </nav>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>

    <%= will_paginate @textbooks %>
  </div>
</div>