<% provide(:title, @user.name) %>
<div class="row">

  <aside class="col-md-12">
    <section class="user_info">
      <h1>
        <%= avatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <% if current_user?(@user) %>
      <%= link_to "New Listing", new_textbook_path, class: 'button-primary new-button' %>
    <% end %>
  </aside>
  <div class="col-md-12">
    <ul class="listings">
      <% @user.textbooks.each do |textbook| %>
        <li class="item">
          <div>
            <h3 class="title"><%= link_to textbook.title, textbook %></h3>
            <span class="price pull-right"><%= number_to_currency(textbook.price) %></span>
            <p><%= textbook.description %></p>
            <% if current_user?(@user) %>
              <%= link_to "Edit", edit_textbook_path(textbook), class: 'button-primary' %>
              <%= link_to "Take this off", textbook_path(textbook), method: :delete, class: 'button-success' %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>