<% provide(:title, "Wish List") %>
<h1>Wish List</h1>

<%= link_to "Request for textbook", new_course_path, class: 'button-primary new-button' %> 

<% if @courses.any? %>
  <ul class="listings">
    <% @courses.each do |course| %>
      <li class="item">
        <div>
          <%= course.name %>
          <span><%= link_to "Delete", course_path(course), method: :delete, class: 'button-success' %></span>
          <% if course.textbooks.any? %>
            <h4><%= pluralize(course.textbooks.count, 'seller') %></h4>
            <ul>
              <% course.textbooks.each do |textbook| %>
                <%= avatar_for textbook.user, size: 35 %>
                <%= link_to "View details", textbook, class: 'button-primary' %>
              <% end %>
            </ul>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No courses listed for next semester</p>
<% end %>