<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "textbook app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Textbooks",    textbooks_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Wishlist",    wishlist_path %></li>
          <li><%= link_to "Add Listing", new_textbook_path %></li>
          <li class="header-avatar">
            <%= link_to(current_user) do %>
              <span><%= current_user.first_name %></span><%= avatar_for(current_user, size: 35) %>
            <% end %>
          </li>
          <li class="dropdown">
            <%= link_to reset_notification_path, method: :post, remote: true, class: "dropdown-toggle notification", data: { toggle: "dropdown"} do %>
              <span class="icon-bell"></span>
              <% if current_user.new_notifications > 0 %>
                <span class="notification_count"><%= current_user.new_notifications %></span>
              <% end %>
            <% end %>
            <% if current_user.notifications.any? %>
              <ul class="dropdown-menu notifications">
                <% current_user.notifications.each do |notification| %>
                  <li><%= link_to notification.message, notification.path %></li>
                <% end %>
                <li class="clear_notifications"><%= link_to "Clear Notifications", clear_notification_path, method: :delete %></li>
              </ul>
            <% end %>
          </li>
          <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <b<span class="icon-chevron-down"></span>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Users", users_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
          <li><%= link_to "Sign up", signup_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>